*{
    min-width: 100px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    min-width: 354px;
}

.input-container{
    margin: 10px;
    margin-bottom: 3px;
}

input{
    min-width: 300px;
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #cc790c;
    border-radius: 2px;
    font-size: 15px;
}

input:focus{
    outline: none;
    border-color: #9e5e09;
}

.buttons-wrapper{
    /* display: flex; */
    margin: 5px 10px;
}

button{
    outline: none;
    letter-spacing: 1px;
    padding: 8px 16px;
    color: aliceblue;
    background-color: #cc790c;
    border: 1px solid;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 800;
}

#delete-btn{
    color: #cc790c;
    background-color: aliceblue;
    border: 1px solid #9e5e09;
}

p {
    margin-left: 10px;
    font-size: 10px;
}

.list-wrapper{
    margin: 20px 10px;
}

ul{
    list-style: none;
}

li{
    margin-top: 5px;
    font-size: 14px;
}

li a {
    color: #9e5e09;
}