body {
    text-align: center;
    background-color: #011F3F;
    height: 100%;
  }
  
  #level-title,#score {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  2%;
    color: #FEF2BF;
  width: 90%;
    
  }
  
  .container {
    display: block;
    width: 50%;
    margin: auto;
  
  }
  .top{
    display: flex;
    flex-direction: row;
    
  }
  .top button{
    margin-left: 30px;
    margin-top: 30px;
    height: 80px;
  }
  
  .btn {
    margin: 25px;
    display: inline-block;
    height: 180px;
    width: 180px;
    border: 10px solid black;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  